<mat-toolbar class="toolbar" [color]="toolbarColor">
  
    <mat-toolbar-row>
      <span>{{score}} pts</span>
      <span class="middle">
        <ng-container *ngIf="showLetter">
            <strong>"{{startLetter}}"</strong>
        </ng-container>
      </span>
      <span class="example-spacer"></span>
      <!---mat-form-field style="width:120px;" *ngIf="showSearch" appearance="outline">
          <input matInput  maxlength="4" placeholder="Placeholder">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field-->
      <app-game-timer [letter]="startLetter" class="example-icon" (timerAlert)="handleTimer($event)"></app-game-timer>
      <button onclick="this.blur()" (click)="showSearch()"class="example-icon" mat-icon-button>
          <mat-icon>search</mat-icon>
      </button>
      <button (click)="shareApi()"class="example-icon" mat-icon-button>
          <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-card [@flip]="flip" class="scatter-card">
  <mat-card-header (click)="showLetter=true">
      <div mat-card-avatar class="numberCircle">{{showLetter?startLetter:'?'}}</div>
      <mat-card-title>
        List {{id}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="!showLetter" >
          tap to reveal starting letter
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="showLetter">Starts with {{startLetter}}
      </mat-card-subtitle>
      <p class="right" style="color:lightgray">+{{subScore}} pts</p>
    </mat-card-header>
    <mat-divider style="margin-top:4px; margin-bottom:6px" [inset]='true'></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="edit">
        <ng-container *ngFor="let category of categories; let i = index;" >
        <div style="width:100%">
        <mat-form-field class="hideline example-form-field">
            <input class="hideline"  autocomplete="off" #input matInput [(ngModel)]="answers[i]" type="text" placeholder="{{i+1}}.&nbsp;{{category}}" (keyup.enter)="keytab($event)">
            <!--span matPrefix>{{i+1}}.&nbsp;</span-->
          </mat-form-field>
          
          <span class="example-spacer"></span>
          <button matSuffix mat-icon-button
            [style.color]="scoreArray[i]==0?'lightgray':''"
            [color]="scoreArray[i]==0?'disabled':scoreArray[i]==1?'primary':'accent'"  
            aria-label="add points" 
            (click)="cyclePoints(i)">
                <mat-icon>{{scoreArray[i]==0?'exposure_zero':scoreArray[i]==1?'exposure_plus_1':'exposure_plus_2'}}</mat-icon>
            </button>
        </div>
        </ng-container>
        </ng-container>
  <mat-list *ngIf="!edit" >
    <mat-list-item *ngFor="let category of categories; let i = index;">
        <button style="color:lightgray" mat-button (click)="cyclePoints(i)">+{{scoreArray[i]}}</button>
        <h4 mat-line>{{i+1}}. {{category}}</h4>
    </mat-list-item>
  </mat-list>
</mat-card-content>
<mat-card-actions align="end">
  <!--button (click)="shareApi()" mat-button color="primary">{{canShare()?'SHARE LINK':'COPY LINK'}}</button-->
  <button (click)="nextCard(next)" mat-button color="primary">NEXT CARD</button>
</mat-card-actions>

</mat-card>
