.scatter-card{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.middle{
  margin-left:40px;
}

.example-icon {
    margin: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
.toolbar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-form-field {
  width: 100%;
}