<mat-toolbar class="toolbar" [color]="toolbarColor">
  
    <mat-toolbar-row>
      <span>{{score}} pts</span>
      <span class="middle">
        <ng-container *ngIf="showLetter">
            <strong>{{startLetter}}</strong>
        </ng-container>
      </span>
      <span class="example-spacer"></span>
      <app-game-timer [letter]="startLetter" (timerAlert)="handleTimer($event)"></app-game-timer>
      <button (click)="edit=!edit"class="example-icon" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-card class="scatter-card">
  <mat-card-header (click)="showLetter=true">
      <div mat-card-avatar class="numberCircle">{{showLetter?startLetter:'?'}}</div>
      <mat-card-title>
        List {{id}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="!showLetter" >
          tap to reveal starting letter
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="showLetter">Starts with {{startLetter}}
      </mat-card-subtitle>
      <p style="color:lightgray; position:absolute;right:40px">+{{subScore}} pts</p>
    </mat-card-header>
    <mat-divider style="margin-top:2px; margin-bottom:2px" [inset]='true'></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="edit">
        <ng-container *ngFor="let category of categories; let i = index;" >
          
        <mat-form-field class="example-form-field">
            <input #input matInput type="text" placeholder="{{category}}" (keyup.enter)="keytab($event)">
            <span matPrefix>{{i+1}}.&nbsp;</span>
            <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="input.value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button style="color:lightgray" mat-button (click)="cyclePoints(i)">+{{scoreArray[i]}} pts</button>
        </ng-container>
        </ng-container>
  <mat-list *ngIf="!edit" >
    <mat-list-item *ngFor="let category of categories; let i = index;">
        <button style="color:lightgray" mat-button (click)="cyclePoints(i)">+{{scoreArray[i]}} pts</button>
        <h4 mat-line>{{i+1}}. {{category}}</h4>
    </mat-list-item>
  </mat-list>
</mat-card-content>
<mat-card-actions>
  <button (click)="nextCard()" mat-button color="primary">NEXT</button>
  <button (click)="shareApi()" mat-button color="primary">{{canShare()?'SHARE':'COPY Link'}}</button>
</mat-card-actions>

</mat-card>
