mat-form-field.mat-form-field {
  font-size: 18px;
}
.scatter-card{
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}


.middle{
  margin-left:10px;
}

.example-icon {
  margin: 0 -1px;
}

.example-spacer {
  flex: 1 1 auto;
}
.toolbar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}


input{
  padding:0;
}
.example-form-field {
  width: 85%;
  margin-bottom: -2em;
  margin-top: -0em;
  
}
.hideline ::ng-deep .mat-form-field-underline {
  display: none;
}



.right {
  position: absolute;
  right: 20px;
}

.numberCircle {
  border-radius: 50%;
  /* remove if you don't care about IE8 */
  background-size: cover;
  width: 32px;
  height: 32px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 32px Arial, sans-serif;
}

::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
 white-space: pre-wrap;
}