<mat-card class="scatter-card">
  <mat-card-title>
    <mat-card-header>
      Get ready to play Scatter!
    </mat-card-header>
  </mat-card-title>
  <mat-card-content>
      <mat-form-field style="width:100%" class="example-form-field">
          <input  matInput type="text" [(ngModel)]='targetId' placeholder="Enter the 4 letter card name, or just press start" >
        </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="right">
      <button (click)="startGameRandom()" mat-raised-button color="primary">RANDOM CARD</button>
      <button [disabled]="!validId()"  (click)="startGame()" mat-raised-button color="primary">START</button>
  </mat-card-actions>
</mat-card>